{% extends "base.html" %}
{% block title %}Details{% endblock %}
{% block hdrAdditions %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.dataTables.reg.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/general.css" />
<script type="text/javascript" charset="utf8" src="{{STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
<script> $(document).ready(function() { $('#datastore').dataTable({"iDisplayLength": 50}); } );</script>
{% endblock %}

{% block content %}
<div class = "cntr_65" >
  <table id = "datastore" ><thead><tr><th>Contig</th><th>GOSlim</th><th>Description</th></tr></thead>
    <tbody>
      {% for c in godata %}
       {% for i in c %}
        <tr><td>{{i.contig.name}}</td><td>{{i.go_id.go_id}}</td><td  class = "data-desc">{{i.go_id.description}}</td></tr>
       {% endfor%}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}
