{% extends "base.html" %}

{% block hdrAdditions %}
    <script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/d3.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/drawmatrix.min.js"></script>
{% endblock %}

{% block content %}<div id="chart" ></div>{% endblock %}

{% block tailAdditions %}<script>drawMatrix('{% url 'matrix' %}', '{% url 'toplevel' %}');</script>{% endblock %}
