{% extends "base.html" %}

{% block hdrAdditions %}
<style>
  td, th {padding-left:15px; border:1px solid black;}
  #simplemodal-container a.modalCloseImg {background:url({{STATIC_URL}}/img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
</style>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}/js/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}/js/jquery.simplemodal.min.js" ></script>
{% endblock %}

{% block content %}
<div id ="popup"></div>
 {% for i in orgs %}
  {% if forloop.first %}
   <table style = "width:50%;">
     <tr><th>Organism (click for downloads)</th><th>Protein Sequences</th><th>Number of Annotated Sequences</th>{#<th>Download</th>#}</tr>
  {% endif %}
  <tr>
    <td>
      <span style = "color:#66f;cursor:pointer;" onclick ="$('#popup').load('{% url 'results' i.org.id %}').modal({overlayClose:true})">{{i.org.name}}</span></td>
    <td>{{i.protcnt}}</td>
    <td>{{i.annotcnt}}</td>
  </tr>
  {% if forloop.last %}
   </table>
  {% endif %}
 {% endfor %}


{% endblock %}
