<!DOCTYPE html>
<html>
    <title>The eyeball</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <link href="{{STATIC_URL}}/noUiSlider/jquery.nouislider.css" rel="stylesheet">
    <link href="{{STATIC_URL}}/multi/style.css" rel="stylesheet">

</head>
<body>

  <div style=" margin: 0 auto;" id="bpg">
      <div style="width:100%;height:825px;text-align:center;" id="svgDiv">
	<div id = "ranged" class ="slider"></div><br />
	<div id = "rangetext" style = "display:none">Participating Species (inclusive): Min: <span id = "minv-span"></span> Max: <span id = "maxv-span"></span></div>
	<span id = "loader" style = "display:none;">Loading...</span>
      </div>
    </div>
  </div>

  <div id="toolTip" class="tooltip" style="width: 250px; height: 50px; position: absolute; left: 760px; top: 169px; opacity: 0;z-index:-999">
    <div id="header1" class="header2"></div>
    <div class="header-rule"></div>
    <div id="head" class="header"></div>
    <div class="header-rule"></div>
    <div id="header2" class="header3"></div>
    <div class="tooltipTail"></div>
  </div>



<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}/js/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{STATIC_URL}}/noUiSlider/jquery.nouislider.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{STATIC_URL}}/multi/combined.min.js" charset="utf-8"></script>

<script type="text/javascript" charset="utf=8">
visualize.setRange(20,25);
visualize.fetchData("{{STATIC_URL}}/multi/data/");
</script>

</body>
</html>
