{% extends "base.html" %}
{% load url from future %}


{% block title %}Summary{% endblock %}

{% block hdrAdditions %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.dataTables.css" />

<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/d3.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/d3.layout.cloud.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/summary.min.js"></script>

<script>  
$(document).ready(function(){ 
$(document).data('mysite.show' , []);
$(document).data('mysite.table',$('#example').dataTable({"ajax": '{% url  'ajax_summary' popA popB %}',"deferRender": true,"iDisplayLength": 50,})); 
$(document).data('d3chart.fill', d3.scale.category20());
$.get('{% url 'ajax_wordcloud' popA popB %}',"",function(data){$(document).data('d3chart.gos', data.goid);d3.layout.cloud().size([500, 620]).words( data.cloud.map(function(d){return {text: d[0], size: 10 + ((d[1]/data.total) * 50)};})).padding(5).rotate(function() { return ~~(Math.random() * 2) * 90; }).font("Impact").fontSize(function(d) { return d.size; }).on("end", draw).start();
$("#cloud").html(data);
},"json");});
</script>
{% endblock %}

{% block content %}
<table>
  <tr>
    <td style = "width: 620px;">
      <div style ="position:fixed; left:50px; top:50px;"> 
	<input type = "button"  value = "Remove filter" id = "testb_r" onclick = "filterGoReset();"/>
	Filtered on: <span style = "font-size:0.85em" id = "filteredOn">None</span>
	<div id = "vis"></div>

      </div>
    </td>
    <td>
      <table  id ="example" style = "width:320px">

        <thead>
          <tr>
            <th>Group ID </th>
            <th>Best Score (bits)</th>
            <th>Average Bootstrap</th>
            <th>GOSlim Details</th>
            <th>MSA Download</th>
          </tr>
        </thead>
	
        <tfoot>
          <tr>
            <th>Group ID </th>
            <th>Best Score (bits)</th>
            <th>Average Bootstrap</th>
            <th>GOSlim Details</th>
            <th>MSA Download</th>
          </tr>
        </tfoot>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
